.cta {
    margin: 30px 0;
}

.fill-bg-color {
    background-color: $fillColor;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.center-text {
    text-align: center;
}

.bottom-md {
    margin-bottom: 30px;
}

.bottom-xl {
    margin-bottom: 60px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.left-m-10 {
    margin-left: 10px;
}

.f-left {
    float: left;
}

.ft-bold {
    font-weight: bold;
}

.ft-700 {
    font-weight: 700;
}

.ft-900 {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.spacing-1 {
    letter-spacing: 1px;
}

.testBG {
    background-color: #cccccc;
}

.fixed {
    position: fixed;
}

.block-element {
    display: block;
}